[submodule "src/segment/models/BiomedParse"]
	path = src/segment/models/BiomedParse
	url = git@github.com:evanrubel/BiomedParse.git
[submodule "src/segment/models/nnInteractive"]
	path = src/segment/models/nnInteractive
	url = https://github.com/MIC-DKFZ/nnInteractive
